# coding: utf-8

"""
    CodeChef API

    CodeChef API to support different applications.  # noqa: E501

    OpenAPI spec version: 1.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from codechef_client.api_client import ApiClient


class RatingsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def ratings_contest_type_get(self, contest_type, **kwargs):  # noqa: E501
        """Return ratinglist for a particular contest type.  # noqa: E501

        Returns a ranklist of a contest according to the parameters provided. Contest types can be - all, cookOff, longChallenge, lunchTime, cookOffSchool, longChallengeSchool, lunchTimeSchool or allSchool.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.ratings_contest_type_get(contest_type, async=True)
        >>> result = thread.get()

        :param async bool
        :param str contest_type: enter contest type for which you want to fetch the ranklist- all, cookOff, longChallenge, lunchTime, cookOffSchool, longChallengeSchool, lunchTimeSchool, allSchool.  (required)
        :param str fields: Possible fields are- username, globalRank, countryCode, countryRank, country, institution, institutionType, rating, diff.  Multiple fields can be entered using comma.
        :param str country: filter by country: eg India
        :param str institution: filter by institution: eg Indian Institute of Technology Delhi. 
        :param str institution_type: filter by type of institute: eg: School, College or Organisation
        :param int offset: Starting index of list, eg. 3
        :param int limit: Number of ratings in a list, max 25
        :param str sort_by: Possible fields are- username, globalRank, rating, diff. Default = globalRank
        :param str sort_order: Possible fields are: asc or desc. Default = asc
        :return: InlineResponse20010
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.ratings_contest_type_get_with_http_info(contest_type, **kwargs)  # noqa: E501
        else:
            (data) = self.ratings_contest_type_get_with_http_info(contest_type, **kwargs)  # noqa: E501
            return data

    def ratings_contest_type_get_with_http_info(self, contest_type, **kwargs):  # noqa: E501
        """Return ratinglist for a particular contest type.  # noqa: E501

        Returns a ranklist of a contest according to the parameters provided. Contest types can be - all, cookOff, longChallenge, lunchTime, cookOffSchool, longChallengeSchool, lunchTimeSchool or allSchool.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.ratings_contest_type_get_with_http_info(contest_type, async=True)
        >>> result = thread.get()

        :param async bool
        :param str contest_type: enter contest type for which you want to fetch the ranklist- all, cookOff, longChallenge, lunchTime, cookOffSchool, longChallengeSchool, lunchTimeSchool, allSchool.  (required)
        :param str fields: Possible fields are- username, globalRank, countryCode, countryRank, country, institution, institutionType, rating, diff.  Multiple fields can be entered using comma.
        :param str country: filter by country: eg India
        :param str institution: filter by institution: eg Indian Institute of Technology Delhi. 
        :param str institution_type: filter by type of institute: eg: School, College or Organisation
        :param int offset: Starting index of list, eg. 3
        :param int limit: Number of ratings in a list, max 25
        :param str sort_by: Possible fields are- username, globalRank, rating, diff. Default = globalRank
        :param str sort_order: Possible fields are: asc or desc. Default = asc
        :return: InlineResponse20010
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['contest_type', 'fields', 'country', 'institution', 'institution_type', 'offset', 'limit', 'sort_by', 'sort_order']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method ratings_contest_type_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'contest_type' is set
        if ('contest_type' not in params or
                params['contest_type'] is None):
            raise ValueError("Missing the required parameter `contest_type` when calling `ratings_contest_type_get`")  # noqa: E501

        if 'limit' in params and params['limit'] > 25:  # noqa: E501
            raise ValueError("Invalid value for parameter `limit` when calling `ratings_contest_type_get`, must be a value less than or equal to `25`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'contest_type' in params:
            path_params['contestType'] = params['contest_type']  # noqa: E501

        query_params = []
        if 'fields' in params:
            query_params.append(('fields', params['fields']))  # noqa: E501
        if 'country' in params:
            query_params.append(('country', params['country']))  # noqa: E501
        if 'institution' in params:
            query_params.append(('institution', params['institution']))  # noqa: E501
        if 'institution_type' in params:
            query_params.append(('institutionType', params['institution_type']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'sort_by' in params:
            query_params.append(('sortBy', params['sort_by']))  # noqa: E501
        if 'sort_order' in params:
            query_params.append(('sortOrder', params['sort_order']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['codechef_auth']  # noqa: E501

        return self.api_client.call_api(
            '/ratings/{contestType}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20010',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
